<!doctype html>
<html lang="en">
    
    <!-- On affiche cette page k si un user est authentifié (user ou admin) -->

    <!-- <====== Contenu du head =====> -->
    {include file='../../partials/extract_index/head.html'} 
    <body>
        <!-- <====== Menu Haut =====> -->
        {include file='../../partials/extract_index/menuHaut.html'}

        <div class="app-main">
            <!-- Menu Gauche (Dashbord) -->
            {include file='../../partials/extract_index/menuGauche.html'}

            <!-- La top Bar(Barre apres menu) -->
            {include file='../../partials/extract_index/topBar.html'}


            <div class="row">
                <div class="col-md-12">
                    <center><a href="{$url_base}Gestionnaire/add" class="btn btn-primary mb-4">Ajouter un Gestionnaire</a></center>
                    <form class="form-inline ml-auto navbar-search mb-4 mr-5" method="POST" action="{$url_base}Gestionnaire/search" id="q">
                        <input class="form-control col-lg-3 col-xs-1" type="text" placeholder="Rechercher un gestionnaire" id="search" aria-label="Search" name="search">
                    </form>
                    <div class="main-card mb-3 card">
                        <div class="card-header"><b>Liste des Gestionnaires</b>
                        </div>

                        <div class="table-responsive">
                            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">photo</th>
                                        <th class="text-center">Nom</th>
                                        <th class="text-center">Prenom</th>
                                        <th class="text-center">Adresse</th>
                                        <th class="text-center">Date Naissance</th>
                                        <th class="text-center">Téléphone</th>
                                        <th class="text-center">sexe</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {foreach from=$gestionnaires item=gestionnaire}
                                    <tr>
                                        <td><img width="60px" height="60px" src="{$url_base}public/images/personnes/gestionnaires/{$gestionnaire->getPersonne()->getPhoto()}" alt=""></td>
                                        <td class="text-center">{$gestionnaire->getPersonne()->getNom()}</td>
                                        <td class="text-center">{$gestionnaire->getPersonne()->getPrenom()}</td>
                                        <td class="text-center">{$gestionnaire->getPersonne()->getAdresse()}</td>
                                        <td class="text-center">{$gestionnaire->getPersonne()->getDateNaissance()}</td>
                                        <td class="text-center">{$gestionnaire->getPersonne()->getTelephone()}</td>
                                        <td class="text-center">{$gestionnaire->getPersonne()->getSexe()}</td>
                                        <td class="text-center"><a href="{$url_base}Gestionnaire/edit/{$gestionnaire->getId()}">Editer</a></td>
                                    </tr>
                                    {/foreach}
                                </tbody>
                            </table>
                        </div>
                        
                        <!-- Pagination -->
                        <div class="d-block text-center card-footer">
                            <!-- Pagination -->
                            {if isset($page)}
                            <span class="badge badge-pill badge-primary mx-auto">{$page}</span>
                            <div class="d-flex justify-content-between my-4">
                                {if $page > 1}
                                    <a href="{$url_base}Gestionnaire/liste/{$page-1}" class="btn btn-primary">&laquo; Precedent</a>
                                {/if} 
                                
                                {if $page < $nbPage}
                                    <a href="{$url_base}Gestionnaire/liste/{$page+1}" class="btn btn-primary ml-auto">Suivant &raquo;</a>
                                {/if}
                                </div>
                            {/if}

                            <strong><p class="text-muted">Emérgence aux femmes </p></strong>
                        </div>

                    </div>
                </div>
            </div>
           
            <script src="{$url_base}public/js/personnes/gestionnaire.js"></script>
            <!-- Le footer -->
            {include file='../../partials/extract_index/footer.html'}
        </div>
        <script type="text/javascript" src="{$url_base}public/templates/templateGestionStockEaf/assets/scripts/main.js"></script>
</body>    
</html>
