<!doctype html>
<html lang="en">
    
    <!-- On affiche cette page k si un user est authentifié (user ou admin) -->

    <!-- <====== Contenu du head =====> -->
    {include file='../../partials/extract_index/head.html'} 
    <body>
        <!-- <====== Menu Haut =====> -->
        {include file='../../partials/extract_index/menuHaut.html'}

        <div class="app-main">
            <!-- Menu Gauche (Dashbord) -->
            {include file='../../partials/extract_index/menuGauche.html'}

            <!-- La top Bar(Barre apres menu) -->
            {include file='../../partials/extract_index/topBar.html'}

            <div class="container">          
                  <div class="form-inline">
                   <div class="card border-secondary col-lg-5  ml-4 mt-2 mx-auto" >
                        <div class="card-header"><a href="{$url_base}"><img class="img-circle centrer_image"  src="{$url_base}" alt=""></a></div>
                        <div class="card-body text-secondary">
                            <h3 class="card-title"><a href="{$url_base}"><b>Géstion des nationalités</b></a></h3>
                            <p class="card-text">Cliquez sur la photo ou sur ce lien ci-dessus pour acceder à la page de gestion.</p>
                        </div>
                    </div>
          
          
                    <div class="card border-secondary  col-lg-5  ml-4 mt-2 mx-auto" >
                      <div class="card-header"><a href="{$url_base}"><img class="img-circle centrer_image"  src="{$url_base}" alt=""></a></div>
                        <div class="card-body text-secondary">
                            <h3 class="card-title"><a href="{$url_base}"><b>Consultez les nationalités</b></a></h3>
                            <p class="card-text">Cliquez sur la photo ou sur ce lien ci-dessus pour acceder à toutes les nationalité.</p>
                        </div>
                    </div>
            </div>
            
            <!-- Le footer -->
            {include file='../../partials/extract_index/footer.html'}
        </div>
        <script type="text/javascript" src="{$url_base}public/templates/templateGestionStockEaf/assets/scripts/main.js"></script>
    </body>    
</html>
