<!doctype html>
<html lang="en">
    
    <!-- On affiche cette page k si un user est authentifié (user ou admin) -->

    <!-- <====== Contenu du head =====> -->
    {include file='../../partials/extract_index/head.html'} 
    <body>
        <!-- <====== Menu Haut =====> -->
        {include file='../../partials/extract_index/menuHaut.html'}

        <div class="app-main">
            <!-- Menu Gauche (Dashbord) -->
            {include file='../../partials/extract_index/menuGauche.html'}

            <!-- La top Bar(Barre apres menu) -->
            {include file='../../partials/extract_index/topBar.html'}


            <div class="row">
                <div class="col-md-12">
                    <div class="row">

                        <div class="col-md-6 col-xl-4">
                            <div class="card mb-3 widget-content">
                                <div class="widget-content-outer">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Stock Actuel</div>
                                            <div class="widget-subheading">Nombre de produit en stock </div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-success">{$stockActuel}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-md-6 col-xl-4">
                            <div class="card mb-3 widget-content">
                                <div class="widget-content-outer">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Produits périmés</div>
                                            <div class="widget-subheading">Nombre de produit périmé</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-warning">{$nbProduitsPerime}</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    
                        <div class="col-md-6 col-xl-4">
                            <div class="card mb-3 widget-content">
                                <div class="widget-content-outer">
                                    <div class="widget-content-wrapper">
                                        <div class="widget-content-left">
                                            <div class="widget-heading">Total Revenu</div>
                                            <div class="widget-subheading">Le revenu total en FCFA</div>
                                        </div>
                                        <div class="widget-content-right">
                                            <div class="widget-numbers text-danger">{$revenus} FCFA</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row form-inline" >
                        <p class="text-muted" style="margin-left:auto; margin-right: auto;">
                            <a href="{$url_base}Produit/add" class="btn btn-primary">Ajouter un Produit</a>
                            <a href="" id="vendreUnProduit" class="btn btn-primary">Gerer Stock</a>
                        </p>
                    </div>

                    <form class="form-inline mb-4" method="POST" action="{$url_base}Produit/search" id="q">
                        <input class="pull-right form-control " style="background-color: white;" type="button" id="button-imprimer" value="Imprimer" />
                        <div class="ml-2"></div>
                        <input class="form-control" type="text" placeholder="Rechercher un produit" id="search" aria-label="Search" name="search">
                    </form>

                    <div class="main-card mb-3 card">
                        <div class="card-header"><b>Liste des Produits</b>
                        </div>

                        <div class="table-responsive">
                            <table class="align-middle mb-0 table table-borderless table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th class="text-center">Nom</th>
                                        <th class="text-center">Date Fabrication</th> 
                                        <th class="text-center">Date de Péremsion</th>
                                        <th class="text-center">Etat (Périmé ou pas ?)</th>
                                        <th class="text-center">Stock</th>
                                        <th class="text-center ">Historique</th>
                                        <th class="text-center selectionnerProduit">Selection</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {foreach from=$produits item=$produit}
                                        {assign var="jourCreation" value=date('d',  strtotime($produit->getDateFabtication()))}
                                        {assign var="moisCreation" value=date('m',  strtotime($produit->getDateFabtication()))}
                                        {assign var="anneeCreation" value=date('Y',  strtotime($produit->getDateFabtication()))}

                                        {assign var="jourPeremsion" value=date('d',  strtotime($produit->getDateDePeremsion()))}
                                        {assign var="moisPeremsion" value=date('m',  strtotime($produit->getDateDePeremsion()))}
                                        {assign var="anneePeremsion" value=date('Y',  strtotime($produit->getDateDePeremsion()))}
                                        <tr>
                                            <td class="text-center">{$produit->getNom()}</td>
                                            <td class="text-center">{$jourCreation}/{$moisCreation}/{$anneeCreation}</td>
                                            <td class="text-center">{$jourPeremsion}/{$moisPeremsion}/{$anneePeremsion}</td>
                                            <td class="text-center">{if $dateActuelle >= $produit->getDateDePeremsion() } <font color="red">Pénrimé</font> {else} Bon état {/if}</td>
                                            <td class="text-center"><span class="badge badge-success"><h6><b>{$produit->getQte()}</b></h6></span></td>
                                            <td class="text-center"><a href="{$url_base}Produit/histoProduit/{$produit->getReference()}"><span class="badge badge-danger btn-lg"><b><font size="2px">Afficher Historique</font></b></span></a></td>
                                            <td class="text-center selectionnerProduit"><a href="{$url_base}Produit/updateStock/{$produit->getReference()}">Séléctionner</a></td>
                                        </tr>
                                    {/foreach}
                                </tbody>
                            </table>
                        </div>
                        
                        <div class="d-block text-center card-footer">
                            <!-- Pagination -->
                            {if isset($page)}
                            <span class="badge badge-pill badge-primary mx-auto">{$page}</span>
                            <div class="d-flex justify-content-between my-4">
                                {if $page > 1}
                                    <a href="{$url_base}Produit/listeStock/{$page-1}" class="btn btn-primary">&laquo; Precedent</a>
                                {/if} 
                                
                                {if $page < $nbPage}
                                    <a href="{$url_base}Produit/listeStock/{$page+1}" class="btn btn-primary ml-auto">Suivant &raquo;</a>
                                {/if}
                                </div>
                            {/if}
                            
                        </div>
                    </div>
                </div>
            </div>
            <script src="{$url_base}public/js/stocks/produit/stock.js" id="src"></script>
            <!-- <script src="{$url_base}public/js/stocks/produit/produit.js" id="src"></script> -->
            <!-- Le footer -->
            {include file='../../partials/extract_index/footer.html'}
        </div>
        <script type="text/javascript" src="{$url_base}public/templates/templateGestionStockEaf/assets/scripts/main.js"></script>
</body>    
</html>
