<!doctype html>
<html lang="en">
    
    <!-- On affiche cette page k si un user est authentifié (user ou admin) -->

    <!-- <====== Contenu du head =====> -->
    {include file='../../partials/extract_index/head.html'} 
    <body>
        <!-- <====== Menu Haut =====> -->
        {include file='../../partials/extract_index/menuHaut.html'}

        <div class="app-main">
            <!-- Menu Gauche (Dashbord) -->
            {include file='../../partials/extract_index/menuGauche.html'}

            <!-- La top Bar(Barre apres menu) -->
            {include file='../../partials/extract_index/topBar.html'}

            <div class="col-md-8 col-xs-8 offset-md-2 latest-post-area pb-120">
                <div class="card text-center">
                    <div class="card-header bg-primary text-white">Ajout d'un Travailleur</div>
                    <div class="card-body text-dark">
                        <div class="card text-center mb-4">
                            <p><a href="{$url_base}Travailleur/liste/1" class="btn btn-pribg-primary mt-4">Liste des travailleurs</a></p>
                        </div>
                        <form action="{$url_base}Travailleur/add" method="post" enctype="multipart/form-data" id="new" novalidate>
                            {if isset($vide) && $vide==1}
                                <div class="alert alert-danger">Tous les champs sont requis</div>
                            {/if}

                            <div class="infoPersonne" id="infoPersonne">
                                <div class="form-row">
                                    <!-- Nom -->
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Nom</label>
                                        <input type="text" class="form-control" name="nom" id="nom" {if isset($travailleur)} value="{$travailleur->getPersonne()->getNom()}" {/if}>
                                    </div>

                                    <!-- Prénom -->
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Prenom</label>
                                        <input type="text" class="form-control" name="prenom" id="prenom" {if isset($travailleur)} value="{$travailleur->getPersonne()->getPrenom()}" {/if}>
                                    </div>

                                </div> 

                                <div class="form-row">
                                    <!-- Date Naissance -->
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Date De Naissance</label>
                                        <input type="date" class="form-control" name="dateNaissance" id="dateNaissance" value="{$smarty.now|date_format:'%Y-%m-%d'}">
                                    </div>

                                    <!-- Adresse -->
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Adresse</label>
                                        <input type="text" class="form-control" name="adresse" id="adresse" {if isset($travailleur)} value="{$travailleur->getPersonne()->getAdresse()}" {/if} required>
                                    </div>
                                </div>

                                <!-- Activités -->
                                <div class="form-row">
                                    <div class="form-group col-lg-12 mx-auto" id="selectionnerUneActivite">
                                        <label class="control-label">Activités (maximum 2)</label>
                                        <select name="activite[]" id="idActivite" class="chosen_select form-control" multiple data-placeholder="Veuiller choisir les activités" required>
                                            {foreach from=$activites item=activite}
                                            <option value="{$activite->getId()}">{$activite->getNom()}</option>
                                            {/foreach}
                                        </select>
                                        <div class="activite-invalid invalid-feedback">Vous devez choisir deux activités
                                        </div>
                                    </div>
                                </div>
                                <!-- Ajouter une activité (Masqué / Afficher) -->
                                <div class="btn btn-primary" id="newActivite">Ajouter une nouvelle activité</div>
                                <div id="addActivite">
                                    <!-- Nom -->
                                    <div class="form-row">
                                        <div class="form-group col-md-12">
                                            <label class="control-label">Nom Activité</label>
                                            <input type="text" class="form-control" name="nomActivite" id="nom">
                                            <div class="invalid-feedback">
                                                Le nom de l'activité est obligatoire
                                            </div>
                                        </div>
                                    </div> 
                                    
                                    <!-- Description -->
                                    <div class="form-group">
                                        <label class="control-label">Description Activité</label>
                                        <textArea class="form-control" rows="4" name="descriptionActivite" id="descriptionActivite">
                                        </textArea>
                                    </div>
                                    <!-- Button Ajout -->
                                    <div class="btn btn-primary" id="addActiviteButton">Ajouter Activité</div>
                
                                </div>


                                <div class="form-row">
                                    <!-- Téléphone -->
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Téléphone</label>
                                        <input type="text" class="form-control" name="telephone" id="telephone" {if isset($travailleur)} value="{$travailleur->getPersonne()->getTelephone()}" {/if}>
                                    </div>

                                    <!-- Nationalité -->
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Nationalite</label>
                                        <select name="nationalite" id="nationalite" class="form-control">
                                            {foreach from=$nationalites item=nationalite}
                                            <option value="{$nationalite->getId()}" {if $nationalite->getNom()=='Sénégalais'} selected
                                                {/if}>{$nationalite->getNom()|utf8_encode}</option>
                                            {/foreach}
                                        </select>
                                    </div>

                                </div>

                                <div class="form-row">
                                    <!-- Photo -->
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Photo</label>
                                        <input type="file" class="form-control" accept="image/png,image/jpeg,image/jpg" name="photo" id="photo">
                                    </div>

                                    <!-- Sexe -->
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Sexe</label>
                                        <select name="sexe" id="sexe" class="form-control custom-select" required>
                                            <option value="masculin">Masculin</option>
                                            <option value="Feminin">Feminin</option>
                                        </select>
                                    </div>
                                </div>
                                
                            </div>

 
                            <!-- Description -->
                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <textArea class="form-control" rows="4" name="descriptionTravailleur" id="descriptionTravailleur">
                                    {if isset($travailleur)} {$travailleur->getPersonne()->getDescription()} {/if}
                                </textArea>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Ajouter" class="btn btn-primary" name="ajouter">
                                <input type="submit" value="Annuler" class="btn btn-danger" name="annuler">
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <literal>
                <script src="{$url_base}public/js/chosen.jquery.min.js" id="src"></script>
                <script src="{$url_base}public/js/personnes/travailleur/travailleur_choosen.js"></script>
                <script src="{$url_base}public/js/personnes/travailleur/travailleur.js" id="src"></script>
            </literal>


            <!-- Le footer -->
            {include file='../../partials/extract_index/footer.html'}
        </div>
            <script type="text/javascript" src="{$url_base}public/templates/templateGestionStockEaf/assets/scripts/main.js"></script>
</body>    
</html>
