<!doctype html>
<html lang="en">
    
    <!-- <====== Contenu du head =====> -->
    {include file='../../partials/extract_index/head.html'} 
    <body>
        <!-- <====== Menu Haut =====> -->
        {include file='../../partials/extract_index/menuHaut.html'}

        <div class="app-main">
            <!-- Menu Gauche (Dashbord) -->
            {include file='../../partials/extract_index/menuGauche.html'}

            <!-- La top Bar(Barre apres menu) -->
            {include file='../../partials/extract_index/topBar.html'}


            <div class="col-md-8 col-xs-8 offset-md-2 latest-post-area pb-120">
                <div class="card text-center">
                    <div class="card-header bg-primary text-white">Ajout d'un Composant</div>
                    <div class="card-body text-dark">
                        <div class="card text-center mb-4">
                            <p><a href="{$url_base}Composant/liste/1" class="btn btn-pribg-primary mt-4">Liste des Composants</a></p>
                        </div>
                        <form action="{$url_base}Composant/add" method="post" enctype="multipart/form-data" id="new" novalidate>
                            {if isset($vide) && $vide==1}
                                <div class="alert alert-danger">Tous les champs sont requis</div>
                            {/if}

                            {if isset($unite_ajouter)}
                                <div class="alert alert-success">{$unite_ajouter}</div>
                            {/if}

                            {if isset($unite_existe)}
                                <div class="alert alert-success">{$unite_existe}</div>
                            {/if}

                            <div class="infoPersonne" id="infoPersonne">
                                <div class="form-row">
                                    <!-- Nom -->
                                    <div class="form-group col-md-6">
                                        <label class="control-label">Nom</label>
                                        <input type="text" class="form-control" name="nom" id="nom" {if isset($composant)} value="{$composant->getNom()}" {/if}>
                                    </div>

                                     <!-- Date Achat -->
                                     <div class="form-group  col-md-6">
                                        <label class="control-label">Date Achat</label>
                                        <input type="date" class="form-control"  name="dateAchat" id="dateAchat" value="{$smarty.now|date_format:'%Y-%m-%d'}">
                                    </div>
                                </div> 

                                <div class="infoPersonne" id="infoPersonne">
                                    <div class="form-row">
                                        <!-- Quantité -->
                                        <div class="form-group col-md-6">
                                            <label class="control-label">Quantité</label>
                                            <input type="number" class="form-control" name="qte" id="qte" {if isset($composant)} value="{$composant->getQte()}" {/if}>
                                        </div>
    
                                        <!-- Prix -->
                                        <div class="form-group col-md-6">
                                            <label class="control-label">Prix Unitaire</label>
                                            <div class="input-group">
                                                <input type="number" class="form-control" name="prix" id="prix" {if isset($composant)} value="{$composant->getPrix()}" {/if}>
                                                <span class="input-group-text">FCFA</span>
                                            </div>
                                        </div>
                                    </div> 

                                    <!-- Unité -->
                                    <div class="form-row">
                                        <div class="form-group col-lg-12 mx-auto" id="selectionnerUneUnite">
                                            <label class="control-label">Unité (maximum 1)</label>
                                            <select name="unite[]" id="idUnite" class="chosen_select form-control" multiple data-placeholder="Veuiller choisir une unité" required>
                                                {foreach from=$unites item=$unite}
                                                <option value="{$unite->getId()}">{$unite->getNomComplet()} ({$unite->getAbreviation()})</option>
                                                {/foreach}
                                            </select>
                                            <div class="unite-invalid invalid-feedback">Vous devez choisir une seule unité</div>
                                        </div>
                                    </div>

                                    <!-- Ajouter une unité (Masqué / Afficher) -->
                                    <div class="btn btn-primary mb-4" id="newUnite">Ajouter une nouvelle unité</div>
                                    <div id="addUnite">
                                    <!-- Abréviation -->
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label class="control-label">Abreviation</label>
                                                <input type="text" class="form-control" name="abreviation" id="abreviation">
                                            </div>
                                        </div> 
                                        
                                        <!-- Nom complet -->
                                        <div class="form-row">
                                            <div class="form-group col-md-12">
                                                <label class="control-label">Nom Complet</label>
                                                <input type="text" class="form-control" name="nomComplet" id="nomComplet">
                                            </div>
                                        </div> 
                                        <!-- Button Ajout -->
                                        <div class="btn btn-primary mb-4" id="addUniteButton">Ajouter Unité</div>
                                    </div>
                                </div>

                                 <!-- Description -->
                                <div class="form-group">
                                    <label class="control-label">Description</label>
                                    <textArea class="form-control" rows="4" name="description" id="description">
                                        {if isset($composant)} {$composant->getDescription()} {/if}
                                    </textArea>
                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Ajouter" class="btn btn-primary" name="ajouter">
                                    <input type="submit" value="Annuler" class="btn btn-danger" name="annuler">
                                </div>
                        </form>
                    </div>
                </div>
            </div>

            <literal>
                <script src="{$url_base}public/js/chosen.jquery.min.js" id="src"></script>
                <script src="{$url_base}public/js/stocks/composant/composant_choosen.js"></script>
                <script src="{$url_base}public/js/stocks/composant/composant.js" id="src"></script>
            </literal>


            <!-- Le footer -->
            {include file='../../partials/extract_index/footer.html'}
        </div>
            <script type="text/javascript" src="{$url_base}public/templates/templateGestionStockEaf/assets/scripts/main.js"></script>
</body>    
</html>
