<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Language" content="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="author" content="djibysec4@gmail.com">

    <link rel="icon" type="image/png" href="{$url_base}public/images/logo/logo.png"/>

    <title>
        {if isset($title)}
            {$title}
        {else}
            Géstion des activités
        {/if}
    </title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, shrink-to-fit=no" />
    <meta name="description" content="This is an example dashboard created using build-in elements and components.">
    <meta name="msapplication-tap-highlight" content="no">

    <link href="{$url_base}public/templates/templateGestionStockEaf/main.css" rel="stylesheet">
    <link href="{$url_base}public/css/slide.css" rel="stylesheet">
    <link href="{$url_base}public/css/style.css" rel="stylesheet">

    <link href="{$url_base}public/css/chosen.min.css" rel="stylesheet">
    <link href="{$url_base}public/css/samane.css" rel="stylesheet">

    <script src="{$url_base}public/js/jquery.min.js"></script>
    <script src="{$url_base}public/js/jquery.js"></script>


</head>