<!doctype html>
<html lang="en">
    
    <!-- On affiche cette page k si un user est authentifié (user ou admin) -->

    <!-- <====== Contenu du head =====> -->
    {include file='../../partials/extract_index/head.html'} 
    <body>
        <!-- <====== Menu Haut =====> -->
        {include file='../../partials/extract_index/menuHaut.html'}

        <div class="app-main">
            <!-- Menu Gauche (Dashbord) -->
            {include file='../../partials/extract_index/menuGauche.html'}

            <!-- La top Bar(Barre apres menu) -->
            {include file='../../partials/extract_index/topBar.html'}

            {if isset($activite) }
            <div class="col-md-8 col-xs-8 offset-md-2 latest-post-area pb-120">
                <div class="card text-center">
                    <div class="card-header bg-primary text-white">Modification d'une Activité</div>
                    <div class="card-body text-dark">
                        <form action="{$url_base}Activite/edit/{$activite->getId()}" method="post" enctype="multipart/form-data" id="edit">
                            {if isset($vide) && $vide==1}
                                <div class="alert alert-danger">Tous les champs sont requis</div>
                            {/if}

                            {if !isset($activite)}
                                <div class="alert alert-danger">Cette activité n'est pas dans la base données</div>
                            {else}
                            
                              <!-- Nom -->
                              <div class="form-row">
                                <div class="form-group col-md-12">
                                    <label class="control-label">Nom</label>
                                    <input type="text" class="form-control" name="nomActivite" id="nom" {if isset($activite)} value="{$activite->getNom()}" {/if}>
                                </div>
                            </div> 
                               
                            <!-- Description -->
                            <div class="form-group">
                                <label class="control-label">Description</label>
                                <textArea class="form-control" rows="4" name="descriptionActivite" id="descriptionActivite">
                                    {if isset($activite)} {$activite->getDescription()} {/if}
                                </textArea>
                            </div>

                            <div class="form-group">
                                <input type="submit" value="Modifier" class="btn btn-primary" name="modifier">
                                <input type="submit" value="Annuler" class="btn btn-danger" name="annuler">
                            </div>
                            {/if}
                        </form>
                    </div>
                </div>
            </div>
        {else}
        <div class="alert alert-danger">Ce activite n'est pas dans la base de données</div>
        {/if}

  <!-- Le footer -->
  {include file='../../partials/extract_index/footer.html'}
</div>
<script type="text/javascript" src="{$url_base}public/templates/templateGestionStockEaf/assets/scripts/main.js"></script>
</body>    
</html>
